@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Cinzel Decorative', cursive;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url('../../images/astro.jpg');
    background-size: cover;
    background-position: center;
}

header {
    justify-content: center;
    align-items: top;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.background-image {
    background-image: url("{{ asset('../../public/images/astro.jpg') }}");
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-right: auto;
    margin-left: 3%;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prediction {
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
    color: #555;
}

select {
    font-family: 'Cinzel Decorative', cursive;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    max-height: 5%;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}